@model Student
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using BootcampRepository.Repository;

@{
    ViewData["Title"] = "Create a Student";
}

<h1 class="bg-info text-white">Create a new Student</h1>

<div asp-validation-summary="All" class="text-danger"></div>

    @using (Html.BeginForm("OnPostAsync", "Student", FormMethod.Post))
    {
        <div class="form-group">
            <label asp-for="@Model.Nombre"></label>
            <input type="text" asp-for="@Model.Nombre" class="form-control" />
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Calificacion"></label>
            <input type="text" asp-for="@Model.Calificacion" class="form-control" />
            <span asp-validation-for="@Model.Calificacion" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    }